<div class="container">
	<h2>Student</h2>            
	<table class="table" border="">
	  <tr>
	    <th> Email </th>
	  </tr>
	  <%@students.each do |student|%>
	    </tr>
	    	<td><%=student.email%></td>
	    </tr>
	  <%end%>
	</table>
</div>