<div class="container">
	<h2>Teacher</h2>            
	<table class="table" border="">
	  <tr>
	    <th> Email </th>
	  </tr>
	  <%@teachers.each do |teacher|%>
	    </tr>
	    	<td><%=teacher.email%></td>
	    </tr>
	  <%end%>
	</table>
</div>